<!doctype html>
<html>
<head>
<meta charset="utf-8" />
<link type="text/css" rel="stylesheet" href="css/main.css" />
<script type="text/javascript" src="scripts/main.js"></script>
</head>
<body>
<div class="ignoreit">
{% include 'partials/main.twig' %}
</div>
</body>
</html>
