<div>
    Group 01<br />
    <div class="form-item"><input type="radio" name="gr01" id="r01" checked /> <label for="r01">Radio 1-1</label></div>
    <div class="form-item"><input type="radio" name="gr01" id="r02" disabled /> <label for="r02">Radio 1-2</label></div>
    <div class="form-item"><input type="radio" name="gr01" id="r03" /> <label for="r03">Radio 1-3</label></div>
    <div class="form-item"><input type="radio" name="gr01" id="r04" /> <label for="r04">Radio 1-4</label></div>
    <div class="form-item"><input type="radio" name="gr01" id="r05" /> <label for="r05">Radio 1-5</label></div>
</div><br />
<div>
    Group 02<br />
    <div class="form-item"><input type="radio" name="gr02" id="r11" /> <label for="r11">Radio 2-1</label></div>
    <div class="form-item"><input type="radio" name="gr02" id="r12" /> <label for="r12">Radio 2-2</label></div>
    <div class="form-item"><input type="radio" name="gr02" id="r13" /> <label for="r13">Radio 2-3</label></div>
    <div class="form-item"><input type="radio" name="gr02" id="r14" /> <label for="r14">Radio 2-4</label></div>
    <div class="form-item"><input type="radio" name="gr02" id="r15" checked /> <label for="r15">Radio 2-5</label></div>
</div>